body{
	margin:10px;
}
.yellow{
	background-color: #FFFF00;
	width: 25%;
	height: 100px;
}
.blue{
	background-color: #3A81BA;
	width: 25%;
	height: 100px;
}
.red{
	background-color: #ED2251;
	width: 25%;
	height: 100px;
}
.container{
	background-color: white;
	border: 3px solid black;
	width: 600px;

}